


/* Start Global Rule */
*{
    padding: 0 ; 
    margin: 0 ;
    box-sizing: border-box
}

:root{
    --mainColor : #ffffff ; 
    --font-color :  #000000;
    --secondColor :#0075FF ;
}

.container{
    width: 80% ;
    margin: 0 auto;
    max-width: 100%;
}



main{
    background-color: var(--mainColor) ;
    transition: .4s;
    height: 100vh;
    overflow: hidden;
}

@media(max-width:767px)
{
    .container{
        width: 100%;
    }

}
/* End Global Rule */




/* Start Nav  */

nav{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px ;
    position: relative;
}

nav .links{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu img{
    width: 30px;
    height: 30px;
}
.menu{
    display: none;

}

nav .links li{
    margin-right: 40px;
}
nav .logo{
    color: var(--font-color);
    cursor: pointer;
}

nav .links a{
    text-decoration: none;
    color: var(--font-color);
    transition: .4s;
}

nav .links a:hover{
    color: var(--secondColor);
}

@media(max-width:767px)
{
    nav .links{
        visibility: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 100%;
        background-color: var(--font-color);
        width: 100%;
        transition: .4s;
    }
    nav .links li{
        text-align: center;
        padding: 10px 0 ;
        transition: .4s;
        width: 100%;
    }
    nav .links li:hover{
        padding-left: 30px;
    }
    nav .links li a{
        text-align: center;
        color: var(--mainColor);

    }
    .menu{
        display: block;
        position: relative;
        cursor: pointer;
    }
    .mm{
        font-weight: bold;
        color: var(--font-color);
    }

    nav .show{
        visibility: visible;
        transition: .4s;
    }
}

/* End Nav  */



/* Start Landing  */

.landing{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 120px;
}

.landing .image img {
    width: 300px;
}
.landing .text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
}

.landing .text h2{
    font-size: 33px;
    margin-bottom: 30px;
    color: var(--font-color);
}

.landing .text p{
    font-weight: 300;
    color: var(--font-color);
    
}

.landing .text .btn{
    width: 140px;
    padding: 8px 7px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--font-color);
    color: var(--mainColor);
    transition: .4s;
    margin-top: 30px;
}

.landing .text .btn:hover{
    opacity: .8;
}

@media(max-width:767px)
{
    .text{
        padding-left: 20px;
    }
    .image{
        display: none;
    }
}
/* End Landing  */

